body{
    font-family: "Shadows Into Light", cursive;
}
ul{
    list-style-type: square;
}

ol{
    list-style-type: lower-roman;
}

#a{
    color: red;
}
.ind{
    color: blue;
}
body{
    background-image: linear-gradient(to right bottom, green, blue, orange, red);
}
.b{
    height: 340px;
    width: 500px;
}